.mainTableContainer{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.formContainer{
    width:40%;
    height:90%;
    border-right:2px solid dimgray
}
.dataContainer{
    width:50%;
    height:90%;
}